GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXTAUTH_SECRET=
AUTH_TRUST_HOST=

DATABASE_URL=
DIRECT_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
; NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
; NEXT_PUBLIC_CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
NEXT_PUBLIC_RAZORPAY_ID=

RAZORPAY_ID=
RAZORPAY_SECRET=

KNOCK_SECRET_API_KEY=
KNOCK_PUBLIC_API_KEY=
NEXT_PUBLIC_KNOCK_PUBLIC_API_KEY=

NEXT_PUBLIC_KNOCK_FEED_ID=